<section class="user-details">
  <div class="container">
    <div class="top-bar">
      <button class="btn btn--outline" (click)="goBack()">← Back</button>
      <h1>User Details</h1>
    </div>

    @if (user()) {
      <div class="user-card">
        <div class="left">
          <div class="avatar">
            {{ user()?.fullName?.charAt(0)?.toUpperCase() || '?' }}
          </div>

          <div class="info">
            <h2>{{ user()?.fullName }}</h2>
            <p>{{ user()?.email }}</p>
          </div>
        </div>

        <div class="right">
          <div class="field">
            <label>Status</label>
            <select (change)="onStatusChange()">
              <option [selected]="user()?.isDeleted! === false" value="false">Active</option>
              <option [selected]="user()?.isDeleted! === true" value="true">Deleted</option>
            </select>
          </div>

          <div class="field">
            <label>Phone</label>
            <p>{{ user()?.phone || '-' }}</p>
          </div>

          <div class="field">
            <label>Birth Date</label>
            <p>{{ user()?.birthDate | date: 'mediumDate' }}</p>
          </div>
        </div>
      </div>
    }

    <div class="bookings">
      <h2>User Bookings</h2>

      <div class="bookings-grid">
        @for (booking of bookings(); track booking._id) {
          <div class="booking-card">
            <div class="row">
              <span>Status</span>
              <strong>{{ booking.status || 'Pending' }}</strong>
            </div>

            <div class="row">
              <span>Start date</span>
              <strong>{{ booking.startDate | date }}</strong>
            </div>

            <div class="row">
              <span>End date</span>
              <strong>{{ booking.endDate | date }}</strong>
            </div>

            <div class="row">
              <span>Start time</span>
              <strong>{{ booking?.startTime }}</strong>
            </div>

            <div class="row">
              <span>End time</span>
              <strong>{{ booking?.endTime }}</strong>
            </div>

            <div class="row total">
              <span>Total</span>
              <strong>{{ booking.totalPrice }} JOD</strong>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
