<div class="overlay">
  <div class="dialog">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <h2>Change Password</h2>

      <label>Old Password</label>
      <app-password-input [control]="form.controls.oldPassword"></app-password-input>

      <label>New Password</label>
      <app-password-input [control]="form.controls.newPassword"></app-password-input>

      <small class="hint"> Must be at least 8 characters, include 1 uppercase & 1 number </small>

      <label>Confirm Password</label>
      <app-password-input [control]="form.controls.confirmPassword"></app-password-input>

      <!-- @if (form.errors?.['passwordMismatch'] && form.touched) {
        <div class="error">Passwords do not match</div>
      } -->

      @if (error()) {
        <div class="error">{{ error() }}</div>
      }

      @if (success()) {
        <div class="success">{{ success() }}</div>
      }
    </form>

    <div class="dialog-buttons">
      <button class="btn" (click)="closeDialog()">
        {{ 'common.cancel' | translate }}
      </button>

      <button (click)="submit()" class="btn btn--primary" type="submit" [disabled]="loading()">
        {{ loading() ? 'Updating...' : 'Change Password' }}
      </button>
    </div>
  </div>
</div>
