<div class="car-card card">
  <div class="image">
    <img [src]="car().imageUrl" [alt]="car().carName" />

    <div class="badge" [class.unavailable]="!car().available">
      {{
        car().available
          ? ["cars.available" | translate]
          : ["cars.unavailable" | translate]
      }}
    </div>
  </div>

  <div class="content">
    <div class="top">
      <div class="name">{{ car().carName }}</div>
      <div class="price">${{ car().pricePerDay }}/day</div>
    </div>

    <div class="meta">
      <span>{{ car().model }}</span>
      @if (car().transmissionType == 1 + "") {
        <span>Automatic</span>
      } @else if (car().transmissionType == 2 + "") {
        <span>Manual</span>
      }
      <span>{{ car().seatsNumber }} {{ ["cars.seats" | translate] }} </span>
    </div>

    <div class="type">
      {{ car().carType }}
    </div>

    <div class="actions">
      @if (car().available == false) {
        <button class="btn disabled" disabled>
          {{ ["cars.rentNow" | translate] }}
        </button>
      } @else {
        <button (click)="goToRent()" class="btn btn--primary">
          {{ ["cars.rentNow" | translate] }}
        </button>
      }

      <button (click)="goToDetails()" class="btn">
        {{ ["cars.details" | translate] }}
      </button>
    </div>
  </div>
</div>
