<section class="password-input-container">
  <input
    class="password-input"
    [attr.id]="inputId() ?? null"
    [attr.autocomplete]="autocomplete() ?? null"
    [type]="passwordType()"
    [placeholder]="placeholder()"
    [formControl]="control()"
  />
  <button
    type="button"
    class="password-toggle"
    (click)="togglePasswordVisibility()"
    [attr.aria-label]="
      showPassword()
        ? 'Hide password'
        : 'Show password'
    "
  >
    <img class="password-image" [src]="passwordIcon()" alt="" />
  </button>
</section>
