.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(gray, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
}
.dialog {
  box-shadow: 0 4px 12px rgba(140, 62, 44, 0.3);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-block: 1em 1em;
  padding-inline: 1em;
  border-radius: 25px;
  width: 50%;
  @media (width <= 925px) {
    width: 70%;
  }
  @media (width <= 670px) {
    width: 100%;
  }
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5em;

  .header-title {
    font-size: 18px;
    font-weight: 500;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
}

.conformation-container {
  color: black;
  font-size: 16px;
  width: 100%;
  padding-block: 1em;
  padding-inline-start: 1em;
}
